.container {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    width: 80%;
}
.input {
    width: 75%;
    margin: 0 20px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
}
.button {
    width: 110px;
    height: 28px;
    border-radius: 10px;
    background-color: #FAF0CA;
    border: 2px solid #F4D35E;
    color: #0D3B66;

}